*.db
*.sqlite
.ruff_cache
.mypy_cache
__pycache__/
node_modules/
output/
sample_data/
uv.lock

# Distribution / packaging
.Python
build/
dist/
downloads/
lib/
lib64/
sdist/
temp/
*.egg-info/
*.egg

# Environments
.env
.venv
env/
venv/

# Editors
.~*
.idea/
.vim/
.vscode/
