*.db
*.sqlite
.ruff_cache
.mypy_cache
node_modules/
output/
uv.lock

# Distribution / packaging
.Python
build/
dist/
downloads/
lib/
lib64/
sdist/
temp/
*.egg-info/
*.egg

# Environments
.env
.venv
env/
venv/

# Editors
.~*
.idea/
.vim/
.vscode/
