.~*
.DS_Store
.env
.idea/
.installed.cfg
.ipynb_checkpoints/
.mypy_cache/
.tmp
.venv
.vim/
.vscode/
*.egg
*.egg-info
*.py[cod]
*.so
bin
build
dev_*.py
develop-eggs
dist
eggs
lib
lib64
parts
scratch
sdist
swagger.json
var
venv/
